.body {
  display: flex;
  gap:20px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #2a2a2a78;
  flex-direction: start;
}

.jigsaw-puzzle-drag {
  display:grid;
  grid-template-columns:repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-gap:2px;
  height:600px;
  width:600px;
  border: 2px solid ;
}

.jigsaw-puzzle-drop{
  border-radius: 4px white;
  background-color: rgba(0, 0, 0, 0.679);
  display:grid;
  grid-template-columns:repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-gap:2px;
  height:600px;
  width:600px;
  border: 2px solid ;
}



