body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.jigsaw-puzzle-main {
  display:grid;
  grid-template-columns:repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-gap:2px;
  height:600px;
  width:600px;
  border: 2px solid ;
}

.part {
   width: calc(100% - 2px);
   height: calc(100% - 2px);
    border: 1px solid #000;
    background-image: url('https://i.ibb.co/nz8vnng/ab.jpg');
    background-size: 700px 700px;
}

#part1 {
  background-position: -1% 0%;
}

#part2 {
  background-position: -91% 8%;
}

#part3{

  background-position: -47% 7%;
}

#part4 {

     background-position: 7% 55%;
}

#part5 {

     background-position: -91% 55%;
}

#part6{

   background-position: -48% 55%;
}

#part7 {

  background-position: 7% -45%;
}

#part8{

background-position: -90% -45%;
}

#part9{

  background-position: -49% 45%;
  }



